header {
    background-color: #8AC08C;
}

header:hover{
    background-color:#377153;
    transform: scale(1.05);
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    /* Space between cells */
    margin: 20px auto;
    border: 10px solid #377153;
    padding: 20px;
    justify-items: center;
    background-color: #ffe1ec;
}
  
.cell {
    background-color: #fff;
    border: 2px solid #333;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    /* Set a fixed height for better visual */
    color: #444;
    /* Default text color */
    border-radius: 50%;
}
  
.cell.red { /* Player 1 */
    background-color: #e2654f;
    cursor: default;
    pointer-events: none;
}
  
.cell.black { /* Player 2 */
    background-color: #377153;
    cursor: default;
    pointer-events: none;
}
  
.cell:hover {
    background-color: #eaeaea;
    /* Hover effect for cells */
}
  
#resultDisplay {
    font-size: 24px;
    margin: 10px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#restartButton {
    margin-top: 20px;
}
  