.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    max-width: 500px;
}
  
.card {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 10px;
    font-size: 24px;
    display: flex;
    transition: background-color 0.3s ease;
    color: black;
}
  
.card.flip, .card.flip2 { /* Different flips for each player */
    background-color: #2574B4;
    cursor: default;
    pointer-events: none;
}

.card.flip2 {
    background-color: red;
}
  
.card:hover {
    background-color: #eaeaea;
}
  
#resultDisplay {
    font-size: 24px;
    margin: 20px;
}
  
#scoreDisplay {
    font-size: 24px;
    margin: 20px;
}
  
@media screen and (max-width: 768px) {
    .board {
      grid-template-columns: repeat(4, minmax(60px, 1fr));
      gap: 3px;
      margin: 5px auto;
      max-width: 80%;
    }
  
    .card {
      height: auto;
      font-size: 20px;
      margin: 3px;
    }
}
  