header {
    background-color: #8AC08C;
}

header:hover{
    background-color:#377153;
    transform: scale(1.05);
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    max-width: 500px;
}
  
.card {
    background-color: #E29A7A;
    border: 2px solid #FB5779;
    border-radius: 10px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 10px;
    font-size: 50px;
    display: flex;
    transition: background-color 0.3s ease;
    color: white;
}
  
.card.flip, .card.flip2 { /* Different flips for each player */
    background-color: white;
    cursor: default;
    pointer-events: none;
    font-size: 40px;
}

.card.flip2 {
    background-color: #8AC08C;
}
  
.card:hover {
    background-color: #CA9095;
}
  
#resultDisplay {
    font-size: 24px;
    margin: 20px;
}
  
#scoreDisplay {
    font-size: 24px;
    margin: 20px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#restartButton {
    margin-top: 20px;
}
  
@media screen and (max-width: 768px) {
    .board {
      grid-template-columns: repeat(4, minmax(80px, 1fr));
      gap: 3px;
      margin: 5px auto;
      max-width: 80%;
    }
  
    .card {
      height: auto;
      font-size: 20px;
      margin: 3px;
    }

    #gameContainer {
        width: 90%;
        max-width: 500px;
    }
}
  