html {
  font-family: sans-serif;
  font-size: 14pt;
}

header {
  color: #ffffff;
  background-color: #fb5779;
  padding: 10px;
  border-radius: 25px;
}

header h1 a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #fb5779);
  width: 100%;
  margin: 0 auto;
  display: grid;
  text-align: center;
}

main {
  width: 90%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  margin: 0 auto 50px auto;
  justify-items: center;
}

section {
  width: 100%;
  height: min-content;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.img-container {
  width: 50%;
  padding-top: 50%;
  margin-bottom: 20px;
  position: relative;
}

.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 25px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #8ac08c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #377153;
  transform: scale(1.05);
}

input[type="radio"] {
  transform: scale(1.5);
  margin-right: 10px;
}

footer {
  background-color: rgba(255, 192, 203, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 60px;
  margin-top: auto;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
    /* Change to one column for smaller screens */
    grid-template-rows: auto;
    /* Allow rows to grow as needed */
  }

  section {
    margin: 10px auto;
    /* Center sections on smaller screens */
  }
}
