html {
    font-family: sans-serif;
    font-size: 14pt;
}

header {
    text-align:center;
    color: #FFFFFF;
    background-color: #FB5779;
    padding: 10px;
    border-radius: 25px;
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #FB5779);
    width: 90%;
    margin: auto;
}

section {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 25px;
    margin: 1em 0em 1em 0em;
}

button {
    padding: 10px 20px;
    background-color: #8AC08C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #377153;
}

#tictactoe {
    background-color: #FFFFFF;
}
